:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: clamp( 300px, 30vw, 400px);
    margin:  auto;
}
.error{
    color: red;
}

header{
    margin-top: 2em;
}
form{
    margin-top: auto;
    margin-bottom: auto;
}